@import 'styles/utils';

.EnterUserName {
    display: flex;
    margin: auto 0;
    flex-direction: column;

    color: gray;
    font-weight: 600;

    .content{
        display: flex;
        color: black;
        font-size: 3rem;
        
        @include media("<med") {
            flex-direction: column;
        } 

        p, span {
            margin: auto;
        }
        .username-div{
            display: flex;

            .username-input {
                display: flex;
                width: 18rem;
                margin-left: 1rem;
                padding: 10px 1rem;
                border-bottom: 2px solid black;

                input {
                    width: 100%;
                    font-size: 3rem;
                    font-weight: 600;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}