@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//box-sizing 일괄 설정하기
//If you set box-sizing: border-box; on an element padding and border are included in the width and height
h1{
    font-family: "Lato", "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

* {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

//링크 스타일 밑줄 및 색상 무효화
a {
    text-decoration: inherit;
    color: inherit;
}
