@import 'styles/utils';

.SCWidget {
    margin: 0 auto;
    margin-top: 1rem;
    border-top: 1px solid #e8e8e8;
    padding: 2rem 0;
    width: 30rem;
    height: 40rem;

    @include media("<sm") {
        width: 100%;
    } 
}