.WeatherPresentation {
    margin-top: 1rem;

    .inner-wrapper {
        display: flex;
        justify-content: center;
        .icon {
            margin-right: 1rem;
            display: flex;
            align-items: center;

            img {
                width: 2.813rem;
                height: 2.813rem;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            .type {
                font-size: 1rem;
                letter-spacing: 2px;
            }
            .temp {
                font-size: 2rem;
            }
        }
    }
}
